<div class="container"> 
    <div class="register"> 
        <h4 style="text-align: center;padding-bottom: 30px;">Get your free account</h4>

        <form [formGroup] ="registerForm" autocomplete="off" class="form-horizontal">
            <div class="form-group"> 
                    <div class="row">
                            <div class="col">
                                    <input type="text" class="form-control" id="name" placeholder="First Name" formControlName="Name">
                            </div> 
                            <div class="col">
                                    <input type="text" class="form-control" id="lastname" placeholder="Last Name" formControlName="Name">
                            </div>
                    </div>                     
                </div>
                <div class="form-group"> 
                        <div class="row">
                                <div class="col">
                                        <input type="password" class="form-control" id="pwd" placeholder="Password" formControlName="password">
                                </div> 
                                <div class="col">
                                     <input type="password" class="form-control" id="repeatPassword" placeholder="Confirm password" formControlName="repeatPassword">
                                </div>
                        </div>                     
                    </div>
                <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Enter Email" formControlName="Email">                           
                </div>               
                <button type="submit" style="margin-left: 40%" class="btn btn-success" (click) = "onRegister()">Sign Me Up</button> 
          
        </form>                
    </div>
</div>
   